<%= form_for [@user,@ticket,@coment] do |f| %>
  <%= render :partial => 'shared/error_list', :locals => {:error_list =>@coment} if @coment.errors.any?%>
  <p>
    <%= f.label 'Comentario' %><br/>
    <%= f.text_area :texto %>
  </p>
  <p class="button"><%= f.submit "Enviar"%></p>
<% end %>