<%= form_for [@user,@ticket,@comment] do |f| %>
  <%= render :partial => 'shared/error_list', :locals => {:error_list =>@comment} if @comment.errors.any? %>
  <p>
    <%= f.label 'Comentario' %><br/>
    <%= f.text_area :texto %>
  </p>
  <p class="button"><%= f.submit "Enviar"%></p>
<% end %>