<h1>Edicion del ticket</h1>
<%= form_for [@user,@ticket,@comment] do |f| %>
  <%= render :partial => 'shared/error_list', :locals => {:error_list =>@comentario}%>  
  <p>
    <%= f.label 'Texto' %><br/>
    <%= f.text_area :texto %>
  </p>
  <p class="button"><%= f.submit "Enviar"%></p>
<% end %>