<h1>
  <%= image_tag current_user.foto.url(:small) %>
  <br> <%= 'Bienvenido  ' + current_user.name %>
  <br> <%= 'Nombre de usuario  ' + current_user.username %>
  <br> <%= 'Email ' + current_user.email %>
  <% if current_user.soporte == true %>
    <br>Eres del equipo soporte de tickets<br>
    <% if @asignados.empty? %>
      No tienes tickets asignados
    <% else %>
      <% @asignados.each do |asignado |%>
        Ticket id: <%= asignado.id %><br>
        Titulo: <%= asignado.titulo %><br>
        Ver ticket <%= link_to 'ir al ticket', ticket_path(asignado.id) %><br><br>
      <% end %>
    <% end %>
  <% else %>
    <br><br> Usuario standar <br>
    <% current_user.tickets.each do |ticket| %>
      Ticket creado - <strong> <%= ticket.titulo %> </strong>, 
      <p>
        - <%= link_to 'Ver', ticket_path(ticket)%> <br>
        - <%= link_to 'Editar', edit_user_ticket_path(ticket)%> <br>
        - <%= link_to "Eliminar", [@user, ticket], :method => :delete %></br>
      </p>
    <% end %>
  <% end %><br><br>
</h1>
<%= link_to 'Editar', edit_user_path(current_user) %>