<%= form_for [@user,@ticket] do |f| %>
  <%= render :partial => 'shared/error_list', :locals => {:error_list => @ticket} if @ticket.errors.any?%>
  <p>
    <%= f.label 'Titulo' %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label 'Tags' %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label 'Descripcion' %><br />
    <%= f.text_area :contenido %>
  </p>
  <p class="button"><%= f.submit "Enviar"%></p>
<% end %>