<%= render 'filtro'%>

<% @tickets.each do |ticket| %>
  <%= div_for ticket do %>
    <td> #ID - <%= link_to ticket.id, ticket_path(ticket.id) %> </td> <br>
    <td> <%= image_tag (ticket.user.foto.url(:small)) %> </td></br>
    <td> Usuario: <%= ticket.user.name %> </td><br>
    <td> Los tags - <%= ticket.tag_list %> </td><br>
    <td> <%= ticket.titulo %> </td><br>
    <td> <%= ticket.contenido %> </td><br>
    <td> Estado: <%= ver_estado(ticket) %></td><br><br>
    <% if session[:user_id] %>          
      <% if current_user.soporte == true %>      
        <%= link_to "ASIGNAR", asignar_estado_path(ticket.id,Ticket::ASIGNADO)%> 
        - <%= link_to "CERRAR", asignar_estado_path(ticket.id,Ticket::CERRADO)%>
      <% end %>
    <% end %>     
    
    <% ticket.comments.each do |comment| %>
      <strong><%= comment.autor %></strong> Comento el <%= comment.created_at %><br>
      <%= comment.texto %><br>
    <% end %>
    
    <% if current_user %>
    <br>
      <%= form_for [current_user,ticket,@comment] do |f| %>
        <div class="round" name="newboxes" id="<%=ticket.id%>">
          <p>
            <%= f.label 'Comentario' %><br />
            <%= f.text_field :texto %>
          </p>
          <p class="button"><%= f.submit "Enviar"%></p>
        </div>
      <% end %>
    <% end %>
  <% end %><br><br>
<% end %>

<%= will_paginate @tickets %></br>  

<% if session[:user_id] %>
  <p> Crear un <%= link_to "Ticket nuevo", new_user_ticket_path(session[:user_id]) %>  </p></br>
  <p> Buscar un ticket <%= link_to "Buscador de tickets", buscador_tickets_url %></p></br>
<% end %>

<% if @tickets.size == 0 %>
  <em> No se han encontrado tickets </em>
<% end %>


