<h1> Ticket </h1>
<p> Numero de identificador de ticket #<%= @ticket.id %></p> </br>
<h1> <%= @ticket.titulo %> </h1> </br>
Creador: <%= @ticket.user.name %><br>
Listado de tags: <%= @ticket.tag_list %><br>
Estado: <%= ver_estado(@ticket)%><br>
<p>Contenido: <%= @ticket.contenido %> </p> </br>
<%= link_to "Listado de tickets" , tickets_path %>


