<h1> Formulario de contacto  </h1>
<%= form_tag("/contact_form", :method=> "post") do %>
  <%= label_tag(:name,"Nombre ") %>
  <%= text_field_tag :name %><br>
  <%= label_tag(:email," Email") %>
  <%= text_field_tag(:email) %><br><br>
  <%= label_tag(:body,"Mensaje") %><br>
  <%= text_area_tag :body%><br>
  <%= submit_tag "Enviar email" %>
<% end %>